*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #4efd 0%, #a503fc 100%);
}

.container{
    width: 400px;
    background-color: #fafafa;
    overflow: hidden;
    border-radius: 10px;
}

.header{
    background-color: #eeeeee;
    padding: 15px;
}

.form{
    padding: 20px;
}

.inputs label{
    margin-bottom: 5px;
    display: inline-block;
}

.container input{
    width: 360px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
}

.container input[type="submit"]{
    font-size: 14px;
    height: 45px;
    background-color: #9518d8;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.container input[type="submit"]:hover{
    transition: 0.3s ease-in-out;
    background-color: #a608fc;
}

@media screen and (max-width: 500px){
    .container{
        text-align: center;
    }

    .container input{
        text-align: center;
    }
}


